/* Main website CSS for Desktop */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b9b8d0; /* Light mode body background */
  color: #1f1e33; /* Light mode body text color */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Dark Mode */
body.dark-mode {
  background-color: #2f2c54; /* Dark mode body background */
  color: #ddd; /* Dark mode body text color */
}

/* Navigation Bar */
header.navbar {
  background-color: #776c9e; /* Light mode navbar background */
  color: white;
  display: flex;
  flex-direction: column; /* Stacks logo and grid */
  gap: 10px;
  align-items: center;
  padding: 20px;
}

/* Dark Mode Navbar */
body.dark-mode header.navbar {
  background-color: #403a6c; /* Dark mode navbar background */
}

/* Logo Styling */
header .logo-container {
  text-align: center;
}
/* Logo */
header .logo {
  width: 60px;
  height: auto;
}

/* Navbar Grid for Contents */
.navbar-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Full width of the navbar container */
  max-width: 1200px; /* Optional: To center content with a max width */
}

/* Welcome Message Styling */
.navbar-left {
  text-align: left;
  font-size: 1.2rem; /* Slightly larger text for emphasis */
}

/* Toggle Dark/Light button */
/* Light mode button */
.navbar-right .mode-toggle {
  font-weight: bold;
  font-size: 1.1rem; /* button text scale */
  padding: 10px 20px;
  background-color: white; /* Light mode button */
  color: #333; /* Light mode button text color */
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
/* Dark mode button */
body.dark-mode .mode-toggle {
  background-color: #444; /* Dark mode button background */
  color: white; /* Dark mode button text color */
  border-color: white;
}


/* Container Layout */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

/* field Styling (For all sections) */
.field {
  background-color: #f6f6f8; /* Light mode field background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Dark Mode field Styling */
body.dark-mode .field {
  background-color: #363352; /* Dark mode field background */
  color: #ddd; /* Dark mode field text color */
}

/* Footer */
footer.footer {
  background-color: #494875; /* Light mode footer background */
  color: white;
  text-align: center;
  padding: 10px;
}

/* Dark Mode Footer */
body.dark-mode footer.footer {
  background-color: #2d2c48; /* Dark mode footer background */
}
